.app-container {
    display: flex;
    width: 100%;
    min-height: 98vh;
    overflow-y: auto;
    overflow-x: hidden; 
}

.tree-container {
    flex: 1;
    position: relative;
    width: 100%;
    /* min-height: 100vh; */
    text-align: center;
    font-family: 'Roboto', serif;
}

.question-box {
    margin-top: 4em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(236, 236, 236);
    width: 70%;
    padding: 0.2em 1em 1em 1em;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 24px 0px, rgba(0, 0, 0, 0.09) 0px 0px 0px 1px;
    border-radius: 5px;
    height: 120px;
}

.question-label {
    margin: 0;
    font-size: medium;
}

.options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.option-btn {
    box-sizing: border-box;
    min-width: 20%;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    background: white;
    border-radius: 5px;
    font-size: smaller;
    overflow: hidden auto;
    height: 100px;
}


.selected {
    background: rgb(1, 173, 173);
    color: white;
    font-weight: bold;
}

