  /* The summary drawer is positioned on the right */
.summary-drawer {
  position: relative;
  width: 50%;
  background: rgb(41, 40, 40);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

/* When open, slide it into view */
.summary-drawer.open {
  transform: translateX(0);
}

.start-over-btn {
    padding: 1em 2em;
    cursor: pointer;
    background: rgb(252, 143, 143);
    border-radius: 5px;
    font-size: smaller;
    margin-bottom: 1.5em;
    margin: 1em;
    color: rgb(27, 27, 27);
}

.start-over-btn:hover {
  background: rgb(255, 85, 85);
  color: black;
}

.summary-article {
  font-family: "Roboto", serif;
  line-height: 1.6;
  margin: 0 auto;
  padding: 2em;
  color: white;
}

.summary-article h1 {
  font-size: 2rem;
  color: #333;
}

.summary-article h2 {
  font-size: 1.75rem;
  margin-bottom: 0.5em;
}

.summary-article ul {
  list-style: disc;
  margin-left: 20px;
}

.summary-article ol {
  list-style: decimal;
  margin-left: 20px;
}

.summary-article li {
  margin-bottom: 0.5em;
}

.summary-article a {
  color: #80d0ff;
  text-decoration: none;
}

.summary-article a:hover {
  color: rgb(87, 87, 255); 
}